<header>
	<div class="logo">
		<div class="appIconShadow">
<!-- 			<img src="assets/iitb-logo.png" alt="e-yantra" width="50" height="50">  -->
			<img src="assets/eyantra.png" alt="e-yantra" width="250" height="50"> 
			<div class="divider"></div>
		</div>
		<!-- <p class="headerName">{{ site.app_name }}</p> -->
	</div>
	<nav class="scroll">
<!-- 		<ul>
			{% for page in site.pages %}
				{% if page.include_in_header == true %}
				<li><a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
			{% if site.presskit_download_link %}
				<li><a href="{{ site.presskit_download_link }}">Press Kit</a></li>
			{% endif %}
		</ul> -->
		<ul>
			
				
				<li><a href="/eyfi-mega/downloads/" target="_self">Downloads</a></li>
				
				<li><a href="/eyfi-mega/documentation/" target="_self">Documentation</a></li>

                <li><a href="/eyfi-mega/tutorials/" target="_self">Tutorials</a></li>

                <li><a href="/eyfi-mega/help/" target="_self">Help</a></li>
			
		</ul>
	</nav>
</header>